*{
    padding: 0px;
    margin: 0px;
}
header{ 
    cursor: pointer;
    
}
a{
    text-decoration: none;
    color: #640D5F;
    font-family: cursive;

}
ul,li{
    display: inline-block;
    padding-left: 10px;
    
}
.menus li{
    padding-right: 45px;
    margin-right: 15px;
    font-size: 30px; 

}
.sign li a{
  position: relative;
  left: 200px;
}
.bodyy{
    text-align: center;
}
p{
    font-size: 21px;
}